@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E9E9E9;
    color: #1E1F5A;
}
.post-card {
    background: rgb(245, 243, 243);
}
.date {
    color: #595a80;
}